<h1>About</h1>

<div class="row">
	<div class="image col-md-6 col-xs-12">
	  <%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
	</div>

	<div class="intro col-md-6 col-xs-12">
		<p> Hey, it´s nice seeing you! On this side, you can find out some stuff about me. Enjoy :)</p> 
		<h3> What can you expect? </h3>
		<p>You can find a big variaty of bikes for every possible situation! Do you want to ride up and down mountains or compete in competitions? Or do you prefer using your bike for ecofriendly transportation in your local suburb? We have even some perfect beginner bikes for your kids. <br>
		Take a look and enjoy shopping <br> 
		<div class="path"> <span class="glyphicon glyphicon-glyphicon glyphicon-fire"> </span> <%= link_to "See all products", products_path %></div>
		</p>
	</div>
	
</div>

