<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>

<div class="col-sm-4 col-md-4">
</div>

<div class="col-sm-4 col-md-4">
<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>
</div>

<div class="col-sm-4 col-md-4">
</div>

<br>