// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
	border-style: double;
	border-color: #eae1d2;
	background-color: white;
	padding-bottom: 1.5%;
    /*margin-top: 2.5%;*/
    /*margin-left: 3.3%;*/
    /*margin-right: 3.3%;*/
}

