// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
	background-color: aliceblue;
}

h1 {
	font-size: 4em;
}

nav {
	text-align: left;
	background-color: #ededef;
    border-color: #eae1d2;
    border-style: double;
    font-size: 29px;
}

img {
	display: block;
	border-color: #eae1d2;
}
footer {
	margin-top: inherit; 
}