// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*static_pages*/
body {
	text-align: center;
	background-color: aliceblue;
	margin-top: 6%;
}

h1 {
	font-size: 4em;
	margin-bottom: 3%;
}

/*Nav*/

#nav {
	font-size: 20px;
	background-color: #ededef;
}

.navbar {
	background-color: #ededef;
	border-color: #eae1d2;
    border-style: double;
	padding-top: 1%;
    padding-bottom: 1%;
}

#search {
	float: left;
}


/*Image*/
.img-responsive {
	border-style: double;
	border-color: #eae1d2;
	display: -webkit-inline-box;
}


/*Carousel*/
.item {
	color: black;
}

/*contact*/
li {
	background-color: aliceblue;
}

#contact-list {
	list-style: none;
}

#contact {
	padding-left: 26%;
	padding-right: 26%;
}

/*Footer*/
footer {
	padding-top: 2%;
}

.path {
	background-color: yellow;
	width: 30%;
	margin: 2%;
	display: inline-block
}

/*Contact-Form*/
#contact {
	margin-top: 5%;
}